<!-- @structr:owner(admin), @structr:grant(admin,arwd) --><div class="modal fade" id="modal-new-consultation" tabindex="-1" role="dialog" data-structr-meta-name="ConsultationCreateModal">
	<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
	<div class="modal-dialog" role="document">
		<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
		<form>
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<div class="modal-content" data-structr-id="${retrieve('clientfolder').client}">
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<div class="modal-header">
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<button class="close" type="button" data-dismiss="modal"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->×</span></button>
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<h4 class="modal-title"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Neue Beratung</h4>
				</div>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<div class="modal-body">
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<input type="hidden" value="${retrieve('ConsultationCreateModal_Agent')}" data-structr-name="agent">
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<input type="hidden" value="${retrieve('ConsultationCreateModal_Client')}" data-structr-name="client">
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<div class="form-group">
						<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
						<label><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Termin</label>
						<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
						<input class="form-control datepicker-enabled" data-structr-name="date" data-structr-type="Date">
					</div>
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<div class="form-group">
						<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
						<label><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Beschreibung</label><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><textarea class="form-control" data-structr-name="comments"></textarea>
					</div>
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<div class="form-group">
						<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
						<label><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Auf Startseite anzeigen</label>
						<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
						<input checked="checked" type="checkbox" data-structr-name="showOnFrontPage" data-structr-type="Boolean">
					</div>
				</div>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<div class="modal-footer">
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<button class="btn btn-default" type="button" data-dismiss="modal"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Abbrechen</button>
					<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
					<button class="btn btn-primary" type="button" data-structr-action="create:Consultation" data-structr-attributes="agent, client, date, showOnFrontPage, comments" data-structr-id="${retrieve('clientfolder').client}" data-structr-reload="true"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Anlegen</button>
				</div>
			</div>
		</form>
	</div>
</div>