/* Copyright @ 2016 itestra GmbH */
/*
IMPORTANT:
Most of the colors and and font parameters are included here.
*/
/* Colors

  (ZB1)     - Zurich Blue 1       - #003399
  (ZB1-75)  - Zurich Blue 1, 75%  - #4066B3
  (ZB2)     - Zurich Blue 2       - #000066
  (G10)     - Grey 10%            - #E6E6E6
  (G15)     - Grey 15%            - #DADADA
  (G20)     - Grey 20%            - #CDCDCD
  (G35)     - Grey 35%            - #BFBFBF
  (G45)     - Grey 45%            - #8E8E8E
  (B75)     - Black 75%           - #3E3E3E
  (S)       - Salmon              - #EA635C
  (T)       - Turquoise           - #00BFB3

*/
@font-face {
  font-family: 'Swiss721';
  src: url("../../../common/fonts/Swiss721-Roman.eot");
  src: url("../../../common/fonts/'Swiss721-Roman.eot'?#iefix") format('embedded-opentype'), url("../../../common/fonts/Swiss721-Roman.woff") format('woff'), url("../../../common/fonts/Swiss721-Roman.ttf") format('truetype'), url("../../../common/fonts/Swiss721-Roman.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Swiss721';
  src: url("../../../common/fonts/Swiss721-Bold.eot");
  src: url("../../../common/fonts/'Swiss721-Bold.eot?#iefix'") format('embedded-opentype'), url("../../../common/fonts/Swiss721-Bold.woff") format('woff'), url("../../../common/fonts/Swiss721-Bold.ttf") format('truetype'), url("../../../common/fonts/Swiss721-Bold.svg") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Swiss721';
  src: url("../../../common/fonts/Swiss721-Italic.eot");
  src: url("../../../common/fonts/'Swiss721-Italic.eot?#iefix'") format('embedded-opentype'), url("../../../common/fonts/Swiss721-Italic.woff") format('woff'), url("../../../common/fonts/Swiss721-Italic.ttf") format('truetype'), url("../../../common/fonts/Swiss721-Italic.svg") format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Swiss721';
  src: url("../../../common/fonts/Swiss721-Light.eot");
  src: url("../../../common/fonts/'Swiss721-Light.eot?#iefix'") format('embedded-opentype'), url("../../../common/fonts/Swiss721-Light.woff") format('woff'), url("../../../common/fonts/Swiss721-Light.ttf") format('truetype'), url("../../../common/fonts/Swiss721-Light.svg") format('svg');
  font-weight: 200;
  font-style: normal;
}
body {
  font-family: -apple-system, "Roboto", "Droid Sans", "Swiss721", sans-serif;
  background-color: #f3f3f3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 769px) {
  .logo {
    margin: 0 auto;
    background-image: url("../../../common/img/logo.png");
    background-position: center;
    width: 156px;
    height: 96px;
  }
}
@media (max-width: 768px) {
  .logo {
    margin: 0 auto;
    background-image: url("../../../common/img/logo_small.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 133px;
    height: 32px;
  }
}
.link {
  cursor: pointer;
  color: #039;
}
.link:hover {
  color: #406683;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  color: #8e8e8e;
}
@media (max-width: 768px) {
  h1 {
    font-size: 28px !important;
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 36px !important;
  }
}
h3 {
  background-color: #fff;
  border-color: #cdcdcd;
}
hr {
  border-color: #dadada;
}
@media (max-width: 768px), (max-height: 850px) {
  .btn-sq-lg {
    font-size: 15px;
  }
}
@media (min-width: 769px) and (min-height: 850px) {
  .btn-sq-lg {
    font-size: 18px;
  }
}
/* TARIF BOX */
.zas-tarif-box-container-wrapper {
  margin-left: -20px;
  margin-bottom: 20px;
}
.zas-tarif-box-container {
  margin-bottom: 80px;
  background-color: #cdcdcd; /* (G20) */
}
/* LINKS */
.zas-link {
  color: #4066b3; /* (ZB1-75) */
}
span.zas-link:hover,
div.zas-link:hover {
  color: #006; /* (ZB2) */
}
.zas-link-inactive {
  color: #8e8e8e !important; /* (ZB1-75) */
}
/* TEXT ELEMENTS */
[class^="zas-body-copy"],
[class*=" zas-body-copy"] {
  font-family: "Swiss721", roman, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #3e3e3e; /* (B75) */
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.zas-body-copy-blue {
  color: #4066b3; /* (ZB1-75) */
}
.zas-body-copy-bold {
  font-weight: bold;
}
[class^="zas-headline-3"],
[class*=" zas-headline-3"] {
  font-weight: 200;
  color: #8e8e8e;
  font-size: 20px;
  line-height: 1;
}
[class^="zas-headline-4"],
[class*=" zas-headline-4"] {
  font-weight: 200;
  color: #8e8e8e;
  font-size: 18px;
  line-height: 1;
}
.zas-nav-main-1 {
  font-weight: bold;
  color: #4066b3; /* (ZB1-75) */
  font-size: 14px !important;
}
.zas-nav-main-1-active {
  color: #8e8e8e;
}
.zas-nav-main-2 {
  font-weight: bold;
  color: #4066b3; /* (ZB1-75) */
  font-size: 14px;
  line-height: 16px;
}
.zas-nav-main-2-active {
  font-weight: bold;
  color: #8e8e8e;
  font-size: 14px;
  line-height: 16px;
}
.zas-nav-main-3 {
  font-weight: normal;
  color: #4066b3; /* (ZB1-75) */
  font-size: 14px;
  line-height: 18px;
}
.zas-nav-main-3-active {
  font-weight: normal;
  color: #8e8e8e;
  font-size: 14px;
  line-height: 16px;
}
.zas-nav-main-3-disabled {
  cursor: not-allowed;
  font-weight: normal;
  color: #cdcdcd;
  font-size: 14px;
  line-height: 16px;
}
.zas-hr-blue-7 {
  height: 7px;
  background: #4066b3; /* ZB1-75 */
}
.zas-summe {
  font-weight: normal;
  color: #3e3e3e; /* (B75) */
  font-size: 14px;
}
@media (min-width: 1000px) {
  .zas-preis {
    font-size: 36px;
    height: 40px;
    color: #3e3e3e; /* (B75) */
  }
}
@media (min-width: 769px) and (max-width: 999px) {
  .zas-preis {
    font-size: 22px;
    height: 40px;
    color: #3e3e3e; /* (B75) */
  }
}
@media (max-width: 768px) {
  .zas-preis {
    font-size: 18px;
    height: 40px;
    color: #3e3e3e; /* (B75) */
  }
}
/*
  INPUT
*/
label {
  font-family: "Swiss721", roman, sans-serif;
  margin-left: 2px;
  width: calc(100% - 2px);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 18px;
  color: #3e3e3e; /* (B75) */
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:disabled + label {
  color: #bfbfbf; /* G35 */
}
.form-control {
  border: 1px solid #cdcdcd;
}
input[type="text"] {
  color: #3e3e3e;
  box-shadow: none;
}
input[type="text"]:focus {
  outline: 0;
  border-color: #8e8e8e;
  box-shadow: none;
}
input[type="text"]:hover {
  border-color: #8e8e8e;
}
input[type="email"] {
  color: #3e3e3e;
  box-shadow: none;
}
input[type="email"]:focus {
  outline: 0;
  border-color: #8e8e8e;
  box-shadow: none;
}
input[type="email"]:hover {
  border-color: #8e8e8e;
}
input[type="password"] {
  color: #3e3e3e;
  box-shadow: none;
}
input[type="password"]:focus {
  outline: 0;
  border-color: #8e8e8e;
  box-shadow: none;
}
input[type="password"]:hover {
  border-color: #8e8e8e;
}
input[type="date"] {
  color: #3e3e3e;
  box-shadow: none;
}
input[type="date"]:focus {
  outline: 0;
  border-color: #8e8e8e;
  box-shadow: none;
}
input[type="date"]:hover {
  border-color: #8e8e8e;
}
.input-group-addon {
  vertical-align: middle;
  background-color: #fff;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  font-family: "Swiss721", roman, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.8;
  color: #3e3e3e; /* (B75) */
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.input-group-addon-icon {
  color: #039;
  font-size: 19px;
}
/* MODALS */
.zas-modal-close {
  color: #4066b3; /* ZB1-75 */
  font-size: 18px;
}
.zas-modal-button {
  background-color: transparent;
  display: inline-block;
  color: #006; /* (ZB2) */
  font-size: 18px;
  font-weight: 200;
}
.button-label {
  position: relative;
  top: -2px;
}
div.zas-modal-button:hover {
  color: #039; /* (ZB1) */
}
.zas-modal-button:disabled {
  color: #bfbfbf;
}
/* COMPARISON */
.zas-vergleich-container {
  background: #cdcdcd; /* (G20) */
}
.zas-vergleich-header {
  background: #cdcdcd; /* (G20) */
}
.zas-vergleich-possible {
  color: #00bfb3; /* (T) */
  font-size: 24px;
}
.zas-vergleich-not-possible {
  color: #ea635c; /* (S) */
  font-size: 24px;
}
.zas-vergleich-row-header {
  min-height: 60px;
  background: #006; /* (ZB2) */
  color: #fff;
}
.zas-vergleich-row-content {
  background: #fff;
  border-color: #cdcdcd; /* (G15) */
}
.zas-vergleich-col-header-active {
  background-color: #4066b3; /* (ZB1) */
}
.zas-vergleich-col-header-active:after {
  border-top-color: #4066b3; /* (ZB1) */
}
.zas-vergleich-col-header {
  font-size: 19px;
}
.zas-vergleich-col-active {
  background-color: #f3f3f3;
}
/* ACCORDION */
.zas-expanded-accordion {
  color: #8e8e8e;
}
.zas-collapsed-accordion {
  color: #006; /* (ZB2) */
}
[class^="zas-accordion"],
[class*=" zas-accordion"] {
  background: #fff;
  border-color: #cdcdcd;
}
/* Button */
.zas-button {
/*margin: 0 10px 0 10px;*/
  padding-top: 3px;
  background: #4066b3;
  color: #fff;
  font-size: 16px;
}
.zas-button:hover {
  background: #039;
}
.zas-button:disabled {
  background: #bfbfbf;
}
.zas-button-cta {
/*margin: 0 10px 0 10px;*/
  background: #006;
  color: #fff;
  font-size: 16px;
}
.zas-button-cta:hover {
  background: #039;
}
.zas-button-cta:disabled {
  background: #bfbfbf;
}
/* CTA */
[class^="zas-cta-"],
[class*=" zas-cta-"] {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
.zas-cta-berechnen-button,
.zas-cta-neuer-vorgang-button {
  background-color: #006;
}
button.zas-cta-berechnen-button:hover,
button.zas-cta-neuer-vorgang-button:hover {
  background-color: #039;
  color: #fff;
}
/* SELECT */
/* DROPDOWN */
/* UI-GRID / FANCY TABLES */
@media (min-width: 1024px) {
  .ui-grid-cell-contents {
    font-size: 13px;
  }
}
@media (max-width: 1023px) and (min-width: 750px) {
  .ui-grid-cell-contents {
    font-size: 12px;
  }
}
@media (max-width: 749px) {
  .ui-grid-cell-contents {
    font-size: 13px;
  }
}
.zas-grid-cell {
  background-color: #fff !important;
}
.zas-grid-crossheading-cell {
  font-weight: bold;
  border-top-color: #006;
  color: #006;
  background-color: #fff !important;
}
.zas-grid-crossheading-cell-first-row {
  font-weight: bold;
  color: #006; /* (ZB2) */
  background-color: #fff !important;
}
.zas-grid-header-cell {
  font-weight: bold;
  color: #fff;
  background-color: #006 !important; /* (ZB2) */
}
.zas-grid-footer-cell {
  font-weight: bold;
  color: #fff;
  background-color: #4066b3 !important; /* (ZB1-75) */
}
.zas-grid-sum-inactive {
  color: #bfbfbf;
}
.ui-grid-row-header-cell {
  border-right: none !important;
  text-align: center !important;
}
.ui-grid-icon-plus-squared:before {
  color: #006; /* (ZB2) */
}
.ui-grid-icon-minus-squared:before {
  color: #8e8e8e; /* (G45) */
}
/* HEADER BAR */
.zas-header {
  background-color: #f3f3f3;
}
.zas-header-icon {
  color: #4066b3;
}
/* SIDENAV */
.zas-sidebar {
  background-color: #fff;
}
@media (max-width: 768px) {
  .zas-sidebar-mobile-button {
    color: #fff;
    background-color: #4066b3;
    font-size: 21px;
  }
}
.zas-sidebar-element-wrapper,
.zas-sidebar-element-wrapper-active {
  font-weight: bold;
  border-color: #dadada;
}
.zas-sidebar-element-wrapper {
  background-color: #fff;
}
.zas-sidebar-element-wrapper-active {
  background-color: #f3f3f3;
}
.zas-sidebar-element-img-green {
  color: #00bfb3;
}
.zas-sidebar-element-img-red {
  color: #ea635c;
}
.zas-sidebar-bar {
  background-color: #4066b3;
}
.zas-sidebar-bar-active {
  background-color: #8e8e8e;
}
/* SELECT */
select.form-control option:hover {
  box-shadow: 0 0 10px 100px #4066b3 inset;
}
select option:hover,
select option:checked {
  background-color: #4066b3;
  color: #fff;
}
/* SWITCH BUTTON */
.switch-label {
  border-color: #aaa;
}
.switch-label:before {
  color: #aaa;
}
.switch-label:after {
  color: #337ab7;
}
.switch-handle {
  background-color: #aaa;
}
.switch-input:checked ~ .switch-label {
  border-color: #337ab7;
}
.switch-input:checked ~ .switch-handle {
  background-color: #337ab7;
}
/* TYPEAHEAD POP-UP */
.zas-custom-popup-wrapper {
  background-color: #f9f9f9;
  display: block;
  max-height: 300px;
  overflow-x: hidden;
  border-bottom: 7px solid #4066b3;
}
.zas-custom-popup-wrapper .active {
  background: #e6e6e6;
}
.zas-custom-popup-wrapper > .message {
  border-color: #ddd;
  color: #868686;
}
/*  VALIDATION ERROR/SUCCESS/WARINING  */
.has-error input {
  border-color: #ea635c !important;
  color: #ea635c;
  background-color: rgba(234,99,92,0.2); /*(S) 20%*/
}
.has-error label {
  color: #ea635c;
}
.has-error span.input-group-addon {
  border-color: #ea635c !important;
}
.error-note {
  color: #fff;
  background: #ea635c;
}
.error-note:after {
  border-bottom-color: #ea635c;
}
.error-note span {
  color: #fff;
}
.has-info input {
  border-color: #00bfb3;
}
.info-note {
  background: #00bfb3;
}
.has-info .confirm {
  font-family: "Swiss721", sans-serif;
  font-size: 18px;
  color: #fff;
}
.has-info span.confirm:hover {
  color: #e6e6e6;
}
.info-note:after {
  border-bottom-color: #00bfb3;
}
.info-note span {
  color: #fff;
}
.star-required {
  color: #4066b3;
  font-size: 14px;
}
.alert-info {
  color: #ea635c;
  background-color: rgba(234,99,92,0.2);
/*(S) 20%*/
  border-color: rgba(234,99,92,0.35);
/*(S) 35%*/
}
/* INFO */
.zas-info-directive-wrapper {
  margin-right: 2px;
}
.zas-info-directive {
  width: 16px;
}
.zas-info-directive .dropdown-toggle {
  color: #4066b3;
  font-size: 16px;
  line-height: 1;
}
.zas-info-directive .dropdown-toggle:hover {
  color: #006;
}
.has-error .zas-info-directive .dropdown-toggle,
.has-error .zas-info-directive .dropdown-toggle:hover {
  color: #e65058;
}
.zas-info-directive .dropdown-menu {
  border-radius: 0;
  border-bottom: 7px solid #4066b3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.zas-info-directive .dropdown-menu:after {
  border-top-color: #4066b3;
}
.zas-info-directive .close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #4066b3;
}
.zas-info-directive .close:hover {
  color: #006;
}
.zas-info-directive .headline {
  padding-bottom: 20px;
  font-size: 20px;
  color: #039;
}
.zas-info-directive .body {
  color: #3e3e3e;
}
.zas-info-directive .body .balance-value {
  font-size: large;
  text-align: center;
  padding-bottom: 10px;
}
.zas-info-directive .body .balance-info {
  text-align: left;
  font-size: small;
}
/*
	PDF-Viewer
*/
.zas-pdf-viewer-toolbar {
  background: #039;
  color: #fff;
}
.zas-pdf-viewer-toolbar-item-action-available:hover {
  background: #4066b3;
}
.zas-pdf-viewer-toolbar-item-action-not-available {
  color: #8e8e8e;
}
.zas-esign-row {
  background: #4066b3;
  color: #fff;
}
